node_modules
**/node_modules
.next
**/.next
dist
**/dist
*.tsbuildinfo
.git
.env
apps/api/.env
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
storage/uploads/*
storage/renders/*
storage/thumbnails/*
storage/sources/*
storage/music/*
storage/emoji/*
!storage/**/.gitkeep
.DS_Store
coverage
